<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">
	<sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</sql>
	
	<sql id="search">
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType !=null and searchType !=''">
					<choose>
						<when test="'siteName'.equals(searchType)">
							AND site_name LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'siteUrl'.equals(searchType)">
							AND site_url LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'siteId'.equals(searchType)">
							AND site_id LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<otherwise>
					AND
						(
							   site_name LIKE CONCAT('%', #{searchKeyword}, '%')
							OR site_url LIKE CONCAT('%', #{searchKeyword}, '%')
							OR site_id LIKE CONCAT('%', #{searchKeyword}, '%')
						)
				</otherwise>
			</choose>
		</if>
	</sql>
</mapper>